.home{
    margin-top: 20px;
}
.home-slider h1{
    font-size: 45px;
}
.home-slider p{
    margin: 20px 0px;

}
.home-slider ul{
    position: absolute;
    bottom: 20px;
}
.home-slider ul li{
    border: 2px solid var(--white);
    border-radius: 50%;
    padding: 10px;
}

.home-slider ul li button{
    background: transparent !important;
    color: transparent !important;
}
.home-slider ul li button::before{
    font-size: 15px;
    color: var(--dark-blue);
    position: absolute;
    top: 2px;
    left: 0;
    margin: auto;
}
.home-slider .box{
    display: flex !important;
}
.home-slider .box .left{
    width: 65%;
}
.home-slider .box .right{
    width: 35%;
 
}
.home-slider .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}